<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">


    <link rel="apple-touch-icon" sizes="180x180" href="./../assets/apple-icon-180x180.png">
    <link href="./../assets/favicon.ico" rel="icon">

    <link href="" rel="stylesheet">


    <title>View Student Data</title>

    <link href="./../main.550dcf66.css" rel="stylesheet">
</head>
<!-- Add your content of header -->
<header>
    <nav class="navbar navbar-default active">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="./../" title="">
                    <img src="./../assets/images/mashup-icon.svg" class="navbar-logo-img" alt=""> Health Administrator
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./../" title="">Home</a></li>
                    <li><a href="./../dashboard" title="">Dashboard </a></li>
                    <!-- <li>
                        <p>
                            <a href="./../components.html" class="btn btn-default navbar-btn" title="">Components</a>
                        </p>
                    </li> -->

                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <h2 style="text-align: center; color: brown;">{{head2}}</h2>
    <div class="container">
        <div style="width:50%;float:left">
            <form action="./../updatestudentdata" method="POST" class="form-group">
                <!-- <div class="block">
                    {% for key,value in data.items() %}
                        <label style="width:250px;color: chocolate;">{{key}}</label>
                        <input type="text" name="{{key}}" placeholder="{{value}}" value="{{value}}" style="color: black;" /><br> 
                    {% endfor %}
                </div> -->
                <!-- <div class="col-sm-5"> -->
                    <label>Index</label>
                    <input type="text" class="form-control" name="index" placeholder="{{index}}" value="{{index}}" readonly/><br>
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{data['name']}}" value="{{data['name']}}" readonly/><br>
                    <label>Showing Last Weight. Update Currrent Weight</label>
                    <input type="text" class="form-control" name="weight" placeholder="{{data['weight'][-1]}}" value="{{data['weight'][-1]}}"/><br>                        
                    <label> Gender </label>
                    <select class="form-control" name="gender" placeholder="{{data['gender']}}" readonly>
                        <option>{{data['gender']}}</option>
                    </select>
                    <label>Age</label>
                    <input type="text" class="form-control" name="age" placeholder="{{data['age']}}" value="{{data['age']}}"  readonly /><br>

                    <label>Date</label>
                    <input type="date" class="form-control" name="date" value="{{data['date']}}" /><br>
                    {% for item in disease %}
                        {% if item in data['disease'] %}
                            <input type="checkbox" name="{{item}}" checked> {{item}} </input><br>
                        {% else %}
                            <input type="checkbox" name="{{item}}"> {{item}} </input><br>
                        {% endif %}
                    {% endfor %}

                    

                    <h2><u>View/Edit/Update Diet Items</u></h2><br>

                        <table id="breakfasttable",class="myclass">
                            <tr>
                                <th class="myclass">Item</th>
                                <th class="myclass">Quantity (Grams)</th>
                                <th class="myclass">Time</th>
                            </tr>
                            {% for item in data['diet'] %} 
                            <tr>
                                <td id="col0" ><select name="item">
                                        {% for fooditem in food %}
                                            {% if fooditem==item[0] %}
                                                <option value="{{fooditem}}" selected>{{fooditem}}</option>
                                            {% else %}
                                                <option value="{{fooditem}}">{{fooditem}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></td>
                                <td id="col1" ><input type="text" name="quantity" placeholder="{{item[1]}}" value="{{item[1]}}"></td>
                                <td id="col2" ><select name="time">
                                                    {% if item[2]=='Breakfast' %}
                                                        <option value="Breakfast" selected>Breakfast</option>
                                                        <option value="Lunch"> Lunch</option>
                                                        <option value="Snack1">Snack1</option>
                                                        <option value="Snack">Snack2</option>
                                                        <option value="Dinner">Dinner</option>
                                                    {% elif item[2]=='Lunch' %}
                                                        <option value="Breakfast">Breakfast</option>
                                                        <option value="Lunch" selected> Lunch</option>
                                                        <option value="Snack1">Snack1</option>
                                                        <option value="Snack2">Snack2</option>
                                                        <option value="Dinner">Dinner</option>
                                                    {% elif item[2]=='Snack1' %}
                                                        <option value="Breakfast">Breakfast</option>
                                                        <option value="Lunch"> Lunch</option>
                                                        <option value="Snack1" selected>Snack1</option>
                                                        <option value="Snack2">Snack2</option>
                                                        <option value="Dinner">Dinner</option>
                                                    {% elif item[2]=='Snack2' %}
                                                        <option value="Breakfast">Breakfast</option>
                                                        <option value="Lunch"> Lunch</option>
                                                        <option value="Snack1">Snack1</option>
                                                        <option value="Snack2" selected>Snack2</option>
                                                        <option value="Dinner">Dinner</option>
                                                    {% elif item[2]=='Dinner' %}
                                                        <option value="Breakfast">Breakfast</option>
                                                        <option value="Lunch"> Lunch</option>
                                                        <option value="Snack1">Snack1</option>
                                                        <option value="Snack2">Snack2</option>
                                                        <option value="Dinner" selected>Dinner</option>
                                                    {% endif %}
                                                </select></td>
                            </tr>  
                            {% endfor %}
                        </table> 
                        <table> 
                            <tr> 
                                <td><input type="button" value="Add Row" onclick="addRows()" /></td>
                                <td><input type="button" value="Delete Row" onclick="deleteRows()" /></td> 
                            </tr>  
                        </table> 
                <br>
                <input type="submit" value="Update in Database and Print" class="btn btn-info column" style="margin-left: 10%;" />
            </form>
            <!-- <form action="delete" method="POST" class="form-group">
                <input type="submit" value="Update in Database and Print" class="btn btn-info column" style="margin-left: 10%;" />
            </form>
             -->
        </div>
        
    </div>

</body>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    // function(event) {
    //     var rolNum = document.getElementsByName('rollnum');
    
    // };
 
    function addRows(){ 
        var table = document.getElementById('breakfasttable');
        var rowCount = table.rows.length;
        var cellCount = table.rows[0].cells.length; 
        var row = table.insertRow(rowCount);
        for(var i =0; i <= cellCount; i++){
            var cell = 'cell'+i;
            cell = row.insertCell(i);
            var copycel = document.getElementById('col'+i).innerHTML;
            cell.innerHTML=copycel;
        }
    }
    function deleteRows(){
        var table = document.getElementById('breakfasttable');
        var rowCount = table.rows.length;
        if(rowCount > '2'){
            var row = table.deleteRow(rowCount-1);
            rowCount--;
        }
        else{
            alert('There should be atleast one row');
        }
    }
</script>

</html>